font-face('greatvibes-regular', 'greatvibes-regular', 'normal', style = 'normal');
font-face('OpenSans-Extrabold', 'OpenSans-extrabold', 'normal', style = 'normal');
font-face('OpenSans-Semibold', 'OpenSans-semibold', 'normal', style = 'normal');
font-face('OpenSans-Regular', 'OpenSans-regular', 'normal', style = 'normal');
font-face('OpenSans-Light', 'OpenSans-light', 'normal', style = 'normal');
font-face('OpenSans-Bold', 'OpenSans-bold', 'normal', style = 'normal');

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

li { list-style: none; }

a { text-decoration: none; }

.hidden-scroll { overflow: hidden; }

.left { float: left; }
.right { float: right; }    

.hide { display: none; }
.show { display: block; }

.clearfix { clear: both; }

.wrapper {
    position: absolute;    
    width: 80%;
    left: 50%;
    transform: translate(-50%);
}