font-face('OpenSans-Extrabold', 'OpenSans-extrabold', 'normal', style = 'normal');
font-face('OpenSans-Semibold', 'OpenSans-semibold', 'normal', style = 'normal');
font-face('OpenSans-Regular', 'OpenSans-regular', 'normal', style = 'normal');
font-face('OpenSans-Light', 'OpenSans-light', 'normal', style = 'normal');
font-face('OpenSans-Bold', 'OpenSans-bold', 'normal', style = 'normal');

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

li { list-style: none; }

a { text-decoration: none; }

p { font-family: 'OpenSans-Light'; }

.hidden-scroll { overflow: hidden; }

.left { float: left; }
.right { float: right; }

.hide { display: none; }
.show { display: block; }

.clearfix { clear: both; overflow: hidden;}

.wrapper {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
}

.header-title {
    padding: 80px 0 15px;
    text-align: center;

    .pre-title {
        font-family: 'OpenSans-Bold';
        text-transform: uppercase;
        color: light-blue;
        remify(font-size, 18px);
    }

    .title {
        font-family: 'OpenSans-Bold';
        text-transform: uppercase;
        color: dark-title;
        remify(font-size, 50px);
        margin: 0;

        +below(1024px) {
            remify(font-size, 35px);
        }

        +below(325px) {
            remify(font-size, 30px);
        }
    }

    &:after {
        content: '';
        background: light-blue;
        display: block;
        width: 100px;
        height: 2px;
        margin: 20px auto;
    }
}

.text-description {
    text-align: center;
    color: medium-text;
    remify(font-size, 14px);
    line-height: 1.8;
    display: block;
    width: 55%;
    margin: 0 auto;

    +below(1024px) {
        width: 100%;
    }
}

.normal-animaton {

    animation: normalAnimation .5s ease-in-out;

    @keyframes {
        0% {

        }

        100% {

        }
    }
}