.header {
	width: 100%;
	height: 100vh;
	background-image: url(img-path + 'ban05.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
	.navbar {
		position: relative;
		height: 80px;
		margin-top: 40px;

		.logo {
			background: url(img-path + 'logo-white.png') center no-repeat;
			background-size: contain;
			display: block;
			width: 180px;
			height: 100%;
		}
		
		.icon-menu {
			background: url(img-path + 'icon-menu.png') center no-repeat;
			background-size: contain;
			display: block;
			height: 50px;
			width: 50px;
			position: absolute;
			top: 10px;
			right: 0;
			
			+above(1024px) {
				display: none;
			}
		}
		
		.menu {
			padding-top: 40px;
			
			+below(1024px) {
				display: none;
			}

			.menu-item {
				float: left;
				margin: 0 15px;
				
				&.active {
					a { color: light-blue; }
				}
				
				&:hover {
					a { color: light-blue; }
				}
				
				a {
					text-transform: uppercase;
					font-family: 'OpenSans-Bold';
					color: white;
					transition: color .3s ease-in-out;
				}
			}
		}
	}
	
	.description {
		position: absolute;
		width: 45%;
		top: 50%;
		left: 10%;
		transform: translateY(-50%);
		animation: animaDesc 1s ease-in-out;
		
		@keyframes animaDesc {
			0% {
				opacity: 0;
				left: -50px;
			}
			
			100% {
				opacity: 1;
				left: 10%;
			}
		}
		
		+below(1024px) {
			width: 80%;
		}

		h1 {
			text-transform: uppercase;
			font-family: 'OpenSans-Extrabold';
			remify(font-size, 100px);
			margin: 0;
			color: light-blue;
			line-height: 100px;
			text-align: left;
			
			+below(1024px) {
				remify(font-size, 90px);
				line-height: 90px;
			}
			
			+between(380px, 450px) {
				remify(font-size, 50px);
				line-height: 50px;
			}
			
			+below(380px) {
				remify(font-size, 45px);
				line-height: 45px;
			}
			
			+below(325px) {
				remify(font-size, 38px);
				line-height: 38px;	
			}
		}
		
		p {
			font-family: 'OpenSans-Light';
			remify(font-size, 22px);
			color: white;
			
			+between(380px, 450px) {
				remify(font-size, 18px);
				line-height: 25px;
			}

			+below(380px) {
				remify(font-size, 18px);
				line-height: 25px;
			}
		}
	}
	
	.scroll {
		background: url(img-path + 'scroll.png') center no-repeat;
		background-size: contain;
		display: block;
		height: 70px;
		width: 70px;
		position: absolute;
		bottom: 40px;
		left: 50%;
		transform: translate(-50%);
		animation: scroll 2.5s ease-in-out infinite;
		animation-fill-mode: forwards;
		
		@keyframes scroll {
			0% { bottom: 40px; }
			50% { bottom: 60px;	}
			100% { bottom: 40px; }
		}
	}
}