$list-unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
    }
}

.fake-img {
    visibility: hidden;
    width: 100%;
    height: auto;
}

placeholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}
