//font specs
font-size-base = 16px;
main-font = 'Arial', sans-serif;

//path specs
font-path = '../fonts/';
img-path = '../img/';

//structure specs
container-width = 1140px;

//colors
white = #fff;
black = #000;

bg-dark = #222429;

dark-text = #444;
medium-text = #616161;
light-text = #7a7a7a;

light-blue = #00c2e5;
dark-title = #171c24;

light-gray = #f3f3f3;

light-border = #ccc;