//font specs
font-size-base = 16px;
main-font = 'Arial', sans-serif;

//path specs
font-path = '../fonts/';
img-path = '../img/';

//structure specs
container-width = 1140px;

//colors
white = #fff;
black = #000;

dark-text = #444;
medium-text = #616161;


light-blue = #00c2e5;
dark-title = #171c24;